Flask[async]
Flask-Cors
gunicorn  # Render necesita Gunicorn para ejecutar tu app de Flask en producción
pytz
apscheduler  # NUEVO: Para la programación de tareas
httpx        # NUEVO: Para hacer peticiones HTTP asíncronas desde el backend
